.about-page {
	left: 0;
	position: absolute;
	top: 64px;
	width: 100%;
	font: Roboto;
}

.container {
	width: 75%;
	height: auto;
	position: relative;
	margin: auto;
}

.container h1 {
	color: #21409a;
	font-size: 40px;
	font-weight: normal;
}

.content p{
	font-size: 24px;
	font-weight: 300;
}

.about-content {
	width: 100%;
	display: flex;
}

.column p{
	font-size: 20px;
	font-weight: 300;
}

@media (max-width: 800px) {
	/*breakpoint*/
	.container {
        flex-direction: column;
        width: 95%;
	}
	.about-content {
        width: 100%;
		flex-direction: column;
	}
}
