.landing-banner {
	width: 100%;
	display: flex;
	margin-bottom: 75px;
	font: Roboto;
}

.image {
	width: 50%;
}

.image img {
	max-width: 100%;
	height: 100%;
}
.text-content {
	width: 50%;
	display: flex;
}
.content {
	align-self: center;
}
.content p {
	width: 75%;
}
.content h1 {
	color: #21409a;
	font-size: 64px;
}

@media (max-width: 800px) {
	/*breakpoint*/
	.landing-banner{
		display: flex;
		align-content: center;
		justify-content: center;
	}
	.text-content {
		width: 100%;
	}
	.content {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.content h1{
		margin-bottom: 0;
		align-self: center;
		justify-self: center;
	}
	.content p {
		width: 100%;
		text-align: center;
	}
	.image {
		display: none;
	}
}
