.column {
	width: 33.33333%;
}

.column p {
	width: 65%;
	color: rgba(0, 0, 0, 0.6);
}

.column h3 {
	color: #21409a;
}

@media (max-width: 800px) {
	/*breakpoint*/
	.column {
		width: 100%;
	}
	.column2 {
		margin-top: 0;
		margin-bottom: 0;
	}
	.column3 {
		margin-top: 0;
	}
	.column p {
		width: 100%;
	}
}

.dark .column p{
	color: white;
}
.dark .column h3{
	color: var(--dark-secondary)
}