.profile {
	width: 33.33333%;
}

.profile p {
	width: 65%;
}

.profile h3 {
	color: #21409a;
}

.profile h4 {
	color: #21409a;
}

.logo {
	height: 28px;
	padding: 5px;
	margin-top: 10px;
}

@media (max-width: 800px) {
	/*breakpoint*/
	.profile {
        flex-direction: column;
        width: 95%;
    }
    .profile p{
        width: 100%;
    }
}
