.profile {
  width: 33.33333%;
}

.profile p {
  width: 65%;
  color: rgba(0, 0, 0, 0.6);
}

.profile h3 {
  color: #21409a;
}

.profile h4 {
  color: #21409a;
}

.profile2 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.linkein-logo,
.github-logo {
  height: 28px;
  padding: 5px;
}

.profile2 {
  margin-top: 200px;
  margin-bottom: 100px;
}

.profile3 {
  margin-top: -150px;
}

.drible-logo,
.linkedin-logo,
.github-logo {
  width: 32px;
  height: 32px;
}

.socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 7rem;
}

.github-logo {
  margin-left: 0 !important;
}

.drible-logo {
  margin-left: 0 !important;
}

@media (max-width: 800px) {
  /*breakpoint*/
  .profile {
    flex-direction: column;
    width: 95%;
    font-size: 1.2rem;
  }
  .profile h3 {
    margin-bottom: 0.5rem;
  }
  .profile h4 {
    margin: 0;
  }
  .profile p {
    width: 100%;
    margin: 0.5rem 0;
    font-size: 1.2rem;
  }
  .profile2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .profile3 {
    margin-top: 0;
  }
}
