.contact-page {
	left: 0;
	position: absolute;
	top: 64px;
	width: 100%;
	height: calc( 100% - 64px );
}

.container {
	width: 75%;
	height: auto;
	position: relative;
	margin: auto;
}

.content-page {
	width: 100%;
	display: flex;
	margin-bottom: 75px;
}

.image {
	width: 50%;
}

.image img {
	max-width: 100%;
	height: 100%;
}

.text-content {
	width: 50%;
	display: flex;
}

.contact-content {
	align-self: center;
	width: 50%;
}

.contact-content p {
	width: 75%;
}

.office {
	color: #21409a;
}

.branch {
	color: #bebcbc;
}

@media (max-width: 800px) {
	/*breakpoint*/
	.container {
		flex-direction: column;
		width: 95%;
	}
	.landing-content {
		width: 75%;
		display: flex;
		flex-direction: column;
	}
	.landing-content h1 {
		padding: 0;
		margin-bottom: 0;
		align-self: center;
		justify-self: center;
	}
	.landing-content p {
		text-align: center;
	}
	.text-content {
		width: 100%;
		display: flex;
		align-content: center;
		justify-content: center;
	}
	.contact-content {
		display: flex;
		width: 80%;
		text-align: center;
		flex-direction: column;
		align-content: center;
		justify-content: center;
	}
	.contact-content p {
		width: 100%;
		text-align: center;
	}
	.image {
		display: none;
	}
}


.dark.contact-page {
	background-color: var(--dark-bg-color);
	color: white;
}

.dark.contact-page .office {
	color: var(--dark-secondary)
}