:root {
    --bg-color: white;
    --dark-bg-color: black;
    --dark-primary: #2ab67b;
    --dark-secondary: #2ab34b;
    --dark-accent-primary: #07a7bc;
}

.index-page {
    left: 0;
    position: absolute;
    width: 100%;
    height: intrinsic;          
    height: -moz-max-content;    
    height: -webkit-max-content; 
}

.container {
    width: 75%;
    height: auto;
    position: relative;
    margin: auto;
    margin-top: 100px;
}

.landing {
    width: 100%;
    display: flex;
    margin-bottom: 60px;
}

.head {
    width: 50%;
}

.head p {
    position: relative;
    top: 30%;
    margin: 0;
    font-size: 52px;
    letter-spacing: 2px;
    text-align: right;
    font-weight: 300;
}

.digital {
    font-weight: normal;
}

.technology {
    font-weight: normal;
    color: #21409A;
}

.btn {
    position: relative;
    color: white;
    background: #21409A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
    padding: 2.2% 4.2%;
    font-size: 20px;
    font-weight: bold;
}

.logo-svg {
    width: 50%;
}

.smoketrees {
    width: 50%;
}

.logo-svg img {
    max-width: 100%;
    height: 100%;
}

.smoketrees img {
    max-width: 100%;
    height: 100%;
}

.tag {
    margin: auto;
    font-size: 40px;
    text-align: center;
    width: 75%;
    margin-top: 150px;
    font-weight: 300;
}

.reinventing {
    color: #21409A;
}

.container-basic {
    margin: 0 auto;
    display: flex;
    margin-top: 100px;
}

.elements {
    display: flex;
    font-weight: normal;
}

.git {
    margin-left: 10px;
}

.index-github-logo{
    width: 20px;
    height: 20px;
}

.description {
    width: 50%;
    margin: auto 0;
}

.description h1 {
    font-size: 40px;
    color: #21409A;
    margin: 0;
    margin-bottom: 40px;
    font-weight: normal;
}

.description p {
    margin: 0;
    font-size: 24px;
    width: 80%;
    margin-bottom: 20px;
    font-weight: 300;
}

.alter {
    text-align: right;
}

.alter p {
    float: right;
    width: 80%;
}

.alter .btn {
    float: right;
}

@media (max-width: 800px) {
    /*breakpoint*/
    .landing {
        flex-direction: column;
        width: 95%;
        align-content: center;
        justify-content: center;
    }
    .smoketrees {
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    .head {
        width: 100%;
    }
    .head p {
        text-align: center;
    }
    .logo-svg {
        display: none;
    }
    .description {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
    .description p {
        width: 95%;
        text-align: justify;
    }
    .alter {
        text-align: center;
    }
}

.dark.index-page {
    background: black;
    color: white;
}

.dark.index-page .digital {
    color: var(--dark-accent-primary)
}

.dark.index-page .technology {
    color: var(--dark-primary)
}

.dark.index-page .reinventing {
    color: var(--dark-primary)
}

.dark.index-page .description h1 {
    color: var(--dark-primary);
}

.dark.index-page .btn{
    background: var(--dark-secondary);
}