:root {
    --bg-color: white;
    --dark-bg-color: #121212;
    --dark-primary: #2ab67b;
    --dark-secondary: #2ab34b;
    --dark-accent-primary: #07a7bc;
    --light-primary: #20149a;
    --scrollbar-color: #20149a;
    --scrollbar-background:#fff;
}

.index-page {
    left: 0;
    position: absolute;
    width: 100%;
    height: 120%;
    height: -moz-max-content;
    height: -webkit-max-content;
}

.container {
    width: 75%;
    height: auto;
    position: relative;
    margin: auto;
    margin-top: 100px;
}

.landing {
    width: 100%;
    display: flex;
    margin-bottom: 60px;
}

.head {
    width: 50%;
}

.head p {
    position: relative;
    top: 30%;
    margin: 0;
    font-size: 52px;
    letter-spacing: 2px;
    text-align: right;
    font-weight: 300;
}

#typed {
    font-size: 52px;
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#typed>span{
    height: fit-content;
}

.typed-cursor {
    display: none;
}

.digital {
    font-weight: 350;
    color: var(--light-primary);
}

.technology {
    font-weight: normal;
    color: var(--light-primary);
}

.btn {
    position: relative;
    color: white;
    background: var(--light-primary);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
    padding: 12px 23px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;
}

.logo-svg {
    width: 50%;
}

.smoketrees {
    width: 50%;
}

.logo-svg img {
    max-width: 100%;
    height: 100%;
}

.smoketrees img {
    max-width: 100%;
    height: 100%;
}

.tag {
    margin: auto;
    font-size: 40px;
    text-align: center;
    width: 75%;
    margin-top: 150px;
    font-weight: 300;
}

.build {
    color: var(--light-primary);
}

.container-basic {
    margin: 0 auto;
    display: flex;
    margin-top: 100px;
}

.elements {
    display: flex;
    font-weight: normal;
}

.git {
    margin-left: 0;
}

.index-github-logo {
    width: 20px;
    height: 20px;
    margin-right: 12px;
}

.description {
    width: 50%;
    margin: auto 0;
}

.description h1 {
    font-size: 40px;
    color: var(--light-primary);
    margin: 0;
    margin-bottom: 40px;
    font-weight: normal;
}

.description p {
    margin: 0;
    font-size: 20px;
    width: 80%;
    margin-bottom: 20px;
    font-weight: 300;
    color: rgb(83, 83, 83);
}

.alter {
    text-align: right;
}

.alter p {
    float: right;
    width: 80%;
}

.landing {
    width: 100%;
    display: flex;
    margin-bottom: 75px;
    margin-top: 10%;
    margin-bottom: 10%;
}

.landing-content {
    align-items: center;
    width: 40%;
}

.landing-content h1 {
    color: var(--light-primary);
    justify-content: center;
}

.alter .btn {
    float: right;
}

.client-name{
    color: black;
    text-decoration: none;
}
.client-name:visited{
    color: black
}

@media (max-width: 800px) {
    /*breakpoint*/
    .landing {
        flex-direction: column;
        width: 95%;
        align-content: center;
        justify-content: center;
    }
    .smoketrees {
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    .head {
        width: 100%;
    }
    .head p {
        text-align: center;
    }
    .logo-svg {
        display: none;
    }
    .description {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
    .description p {
        width: 95%;
        text-align: justify;
    }
    .alter {
        text-align: center;
    }
    .alter p {
        float: none;
    }
    .alter-extra-div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    #typed{
        text-align: center;
        box-sizing: border-box;
        height: 205px;
        top:0;
    }

    .client{
        margin-bottom: 50px;
    }
}

.dark.index-page {
    background: var(--dark-bg-color);
    color: white;
}

.dark.index-page .digital {
    color: var(--dark-primary)
}

.dark.index-page .technology {
    color: var(--dark-primary)
}

.dark.index-page .build {
    color: var(--dark-primary)
}

.dark.index-page .description h1 {
    color: var(--dark-primary);
}
.dark.index-page .ideate{
    color:var(--dark-primary)
}

.dark.index-page .btn {
    background: var(--dark-secondary);
}

.dark.index-page .client-name{
    color: var(--dark-primary);
}

.dark .description p {
  color: white
}