.project-page{
	left: 0;
    position: absolute;
    top: 64px;
    width: 100%;
}

.container{
    width: 75%;
    height: auto;
    position: relative;
    margin: auto;
}

.project-content{
    width: 100%;
    display: flex;
    padding: 10px;
}