.footer {
	text-align: center;
}

.footer h1{
	margin: 0;
	text-align: left;
	vertical-align: middle;
	display: inline;
}

.first-card-container{
	height: 97px;
}

.half-white{
	color: #ffffff;
	height: 50%;
}
.half-gray{
	background-color: #f2f2f2;
	height: 50%;
}

.first-card-wrapper{
	position: relative;
	top:-100%;
	width: 100%;
	display: flex;
	height: 100%;
	justify-content: center;
	align-content: center;
}

.first-card {
	display: flex;	
	background-color: #21409a;
	color: #ffffff;
	height: 100%;
	width: 60%;
	z-index: 1;
	box-sizing: border-box;
	padding: 3.2%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	justify-self: center;
	align-content: center;
}

.first-card h1 {
	font-size: 32px;
	line-height: 32px;
	font-weight: 300;
	font-family: 'Josefin Sans', sans-serif;
	justify-self: start;
	align-self: center;
}

.second-card {
	background-color: #f2f2f2;
	box-sizing: border-box;
	padding-top: 20px;
	padding-bottom: 40px;
	z-index: 0;
	width: 100%;
	display: flex;
	justify-content: center;
}

.second-card p {
	margin: 0;
	width: 75%;
	font-weight: 300;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24px;
}

.circle-button-wrapper{
	display: flex;
	align-self: center;
	align-content: center;
	flex-direction: row-reverse;
	flex: 1 0 auto;
	padding-right:1%;
	box-sizing: border-box;
}
.circle-button{
	width: 32px;
	height: 32px;
	border-radius: 64px;
	border: 3px solid white;
	align-self: center;
	justify-self: end;
	cursor: pointer;
}

@media (max-width: 630px) {
	/*breakpoint*/
    .footer{
        width: auto;
        bottom: 0;
	}
	.footer h1{
		vertical-align: middle;
	}
    .first-card{
		width: 100%;
        text-align: center;
    }
    .second-card{
        width: 100%;
    }
    .second-card p{
        width: 95%;
		text-align: center;
		font-size: 16px;
    }
}

@media (max-width:630px){
	.first-card-container{
		height: 80px;
	}
	.footer h1{
		font-size: 32px;
	}
}

@media (max-width:500px){
	.first-card-container{
		height: 75px;
	}
	.footer h1{
		font-size: 32px;
	}
}

@media (max-width:425px){
	.first-card-container{
		height: 69px;
	}
	.footer h1{
		font-size:25px;
	}
}

@media (max-width:360px){
	.first-card-container{
		height: 65px;
	}
	.footer h1{
		font-size:25px;
	}
}

@media (max-width:319px){
	.first-card-container{
		height: 62px;
	}
	.footer h1{
		font-size:25px;
	}
}

.dark .first-card{
	background-color: var(--dark-secondary);
	color: black;
}

.dark .first-card .circle-button{
	border-color: black;
}

.dark .half-white{
	background: black;
}

.dark .second-card,
.dark .half-gray{
	background: #1f1f1f;
	color:white;
}